.create-form{
    padding: 50px;
    margin: 50px;
    background-color: rgb(242, 242, 242);
    border: 1px solid rgb(197, 204, 218);
    width: 50%;
}
.create-form form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background-color: rgb(242, 242, 242);
    padding: 10px;
}
.create-form form input, textarea{
    margin: 10px;
    padding: 10px;
}
.create-form form label{
    margin: 10px;
}
.create-form form .create-btn{
    width: 100px;
    background-color: cornflowerblue;
    color: #fff;
}
.create-form form .create-btn:hover{
    background-color: blue;
}
.create-form .create-title{
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}

/* MOBILE */
@media screen and (max-width: 800px) {
    .create-form{
        width: 90%;
        padding: 20px;
        margin-top: 0px;
    }
    .create-form .create-title{
        margin-top: 20px;
        text-align: left;
        margin-left: 20px;
    }
}