.delete-service-container{
    margin: 20px;
    height: 100vh;
}
.delete-service-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: blue;
    margin: 10px 0px 10px 0px;
    padding: 10px;
}
.delete-service-container .delete-service{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 300px;
}
.service-delete-warning{
    margin: 10px;
}
.delete-service-btn{
    padding: 6px;
    background-color: darkred;
    border: 1px solid black;
    color: #fff;
    margin: 10px;
}
.delete-cancel-service-btn{
    text-decoration: none;
    margin: 10px;
    background-color: darkblue;
    border: 1px solid black;
    padding: 6px;
    color: #fff;
    font-size: small;
    border-radius: 2px;
}