{% extends 'base.html' %}

{% block pageTITLE %}
<h2>Post Your Service</h2>
{% endblock pageTITLE %}

{% block form %}

    <div class="create-form">
        <form method="post" action="">
            {% csrf_token %}
            {{ form }}
        
            <input class="create-btn" type="submit">
        </form>
    </div>

{% endblock form %}























<!-- Irrelevant blocks -->
{% block searchFORM %}
{% endblock searchFORM %}
{% block pagination %}
{% endblock pagination %}
    