{% extends 'base.html' %}
{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'main/css/create.css' %}">
<script src="{% static 'main/js/create.js' %}" defer></script>
{% endblock links %}

{% block content %}

    <div class="create-form-container">

        <div class="create-title">
            <h1>Post Your Service</h1>
            <a href="/">Back</a>
        </div>

        <form id="createForm" method="post" action="">
            {% csrf_token %}
            {{ form }}
    
            <input class="create-btn" type="submit">
        </form>

    </div>

{% endblock content %}























<!-- Irrelevant blocks -->
{% block searchFORM %}
{% endblock searchFORM %}
{% block pagination %}
{% endblock pagination %}
    