{% extends 'base.html' %}


{% block content %}
{% if user.is_authenticated and service.author.id == user.id %}
    <div class="delete-service-container">
        <div class="delete-service-title">
            <h1>Delete Service</h1>
        </div>
    <div class="delete-service">

        <p class="service-delete-warning">Are you sure you want to delete "{{ service }}"?</p>

        <form class="delete-service-form" action="/delete/{{ service.id }}" method="POST">
            {% csrf_token %}
            <a class="delete-cancel-service-btn" href="/">Cancel</a>
            <input class="delete-service-btn" type="submit" name="Confirm">
        </form>
    </div>
{% else %}
    <p>Return to homepage :(</p>
    </div>
{% endif %}
{% endblock content %}
    
            



















<!-- Irrelevant blocks -->
{% block searchFORM %}
{% endblock searchFORM %}
{% block pagination %}
{% endblock pagination %}