{% extends 'base.html' %}
{% load main_extras %}

{% block content %}

    <div class="home-container">
        
        <div class="home-page-title">
            <h1>Find Service</h1>
            <p>Welcome {{ request.user }}!</p>
        </div>

        <div class="home-search">
            <form action="">
                {{ myFilter.form }}
        
                <button class="home-search-btn" type="submit">Search</button>
            </form>
        </div>
        
        <div class="home-service-container">
        {% for service in services reversed %}
            <div class="home-service">
                <h1 id="service-contentc">{{ service.service_name }}</h1><br>
                <address id="service-content">{{ service.location }}</address>
                <p id="service-content">{{ service.experience|truncatewords:20 }}</p>
                <p id="service-content"><strong>Call:</strong> {{ service.phone }}</p>
                <p id="service-content"><strong>Email:</strong> {{ service.email }}</p>
                <small id="service-content">Date posted: {{ service.datecreated }}</small>

                <div class="service-btns">
                        <a id="service-content" href="/view_service/{{ service.id }}">Read more</a>
                    {% if user.is_authenticated and service.author.id == user.id %}
                        <a id="service-content" href="/update/{{ service.id }}">Update</a>
                        <a id="service-content" href="/delete/{{ service.id }}">Delete</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}

        </div>
    </div>

    <div class="pagination">
        {% if services.has_previous %}
        <a href="{% my_url 1 'page' request.GET.urlencode %}">&laquo; First</a>
        <a href="{% my_url services.previous_page_number 'page' request.GET.urlencode %}">Previous</a>
        {% endif %}
        
        <span>
            Page {{ services.number }} of {{ services.paginator.num_pages }}
        </span>
        
        {% if services.has_next %}
        <a href="{% my_url services.next_page_number 'page' request.GET.urlencode %}">Next</a>
        <a href="{% my_url services.paginator.num_pages 'page' request.GET.urlencode %}">Last &raquo;</a>
        {% endif %}
    </div>
        

{% endblock content %}



<!-- {% if services.has_previous %}
        <a href="?page=1">&laquo; First</a>
        <a href="?page={{ services.previous_page_number }}">Previous</a>
        {% endif %}
        
        Page {{ services.number }} of {{ services.paginator.num_pages }}
        
        {% if services.has_next %}
        <a href="?page={{ services.next_page_number }}">Next</a>
        <a href="?page={{ services.paginator.num_pages }}">Last &raquo;</a> 
        {% endif %}
    -->

    
