{% extends 'base.html' %}
{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'main/css/users.css' %}">
{% endblock links %}


{% block content %}
<div class="register-container">

    <div class="register-title">
        <h1>Login</h1>
    </div>

    <div class="userform">
        {% for message in messages %}
        <small class="user-form-error-message">{{ message }} </small>
        {% endfor %}
    
        <form method="POST" action="login">
            {% csrf_token %}
            <div class="user-form-field">
                <p>Username:</p>
                <input type="text" name="username" placeholder="" required>
            </div>
    
            <div class="user-form-field">
                <p id="password">Password: <a href="/reset_password">Forgot password?</a></p>
                <input type="password" name="password" placeholder="" required>
            </div>

            <div class="user-form-field">
                <input class="user-login-btn" type="submit" name="login">
            </div>
    
    
        </form>
        <span class="forgot-password-links">
            <p>
                Don't have an account?
                <a href="/register">Sign Up.</a>
            </p>
        </span>
    </div>
</div>

{% endblock content %}

















<!-- Irrelevant blocks -->
{% block searchFORM %}
{% endblock searchFORM %}
{% block pagination %}
{% endblock pagination %}