

Log in

{% extends 'base.html' %}
{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'main/css/users.css' %}">
{% endblock links %}

{% block content %}

<div class="register-container">

    <div class="register-title">
        {% if user.is_authenticated %}
        <h1>Update Your Account</h1>
        {% else %}
        <h1>Create an Account</h1>
        {% endif %}

        <a href="/login">Go back to login</a>
    </div>

    <div class="userform">

        <h3 class="userform-password-reset-header">
            Password reset complete
        </h3>

        <p class="userform-password-reset-content">Your password has been set. You may go ahead and log in now.</p>

        <a href="/login">Login</a>


    </div>
</div>

{% endblock content %}