{% extends 'base.html' %}
{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'main/css/users.css' %}">
{% endblock links %}

{% block content %}

<div class="register-container">

    <div class="register-title">
        {% if user.is_authenticated %}
        <h1>Update Your Account</h1>
        {% else %}
        <h1>Create an Account</h1>
        {% endif %}

        <a href="/login">Go back to login</a>
    </div>

    <div class="userform">

        <h3 class="userform-password-reset-header">Password reset sent</h3>

        <p class="userform-password-reset-content">We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should
        receive them shortly.</p>

        <p class="userform-password-reset-content">
            If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam
            folder.
        </p>


    </div>
</div>

{% endblock content %}