{% extends 'base.html' %}
{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'main/css/users.css' %}">
{% endblock links %}

{% block content %}

<div class="register-container">

    <div class="register-title">
        {% if user.is_authenticated %}
        <h1>Update Your Account</h1>
        {% else %}
        <h1>Create an Account</h1>
        {% endif %}

        <a href="/login">Go back to login</a>
    </div>

    <div class="userform">

        <h3 class="userform-password-reset-header">
            Enter new password
        </h3>

        <p class="userform-password-reset-content">
            Please enter your new password twice so we can verify you typed it in correctly.
        </p>

        <form method="POST" action="">
        {% csrf_token %}

            <!-- {{ form.as_p }} -->
            <div class="user-form-field">
                <p>{{form.new_password1.label}}</p>
                {{form.new_password1}}
            </div>

            <div class="user-form-field">
                <p>{{form.new_password2.label}}</p>
                {{form.new_password2}}
            </div>

            <div class="user-form-field">
                <input class="user-login-btn" type="submit">
            </div>
        </form>

    </div>
</div>

{% endblock content %}