{% extends 'base.html' %}
{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'main/css/users.css' %}">
{% endblock links %}

{% block content %}

<div class="register-container">
    
    <div class="register-title">
        {% if user.is_authenticated %}
            <h1>Update Your Account</h1>
        {% else %}
            <h1>Create an Account</h1>
        {% endif %}
        
        <a href="/login">Go back</a>
    </div>

    <div class="userform">
    
        <small style="margin: 0px;">
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <span>{{field.label}}: {{ error|escape }}</span>
                    {% endfor %}
                {% endfor %}
            {% endif %}
        </small>

        {% for message in messages %}
        <small class="user-form-error-message">{{ message }} </small>
        {% endfor %}
        
    
        <form id="createForm" method="post" action="">

            {% csrf_token %}

            <div class="user-form-field">
                <p>{{ form.username.label }}</p>
                {{ form.username }}
            </div>
            
            <div class="user-form-field">
                <p>{{ form.email.label }}</p>
                {{ form.email }}
            </div>

            <div class="user-form-field">
                <p>{{ form.password1.label }}</p>
                {{ form.password1 }}
            </div>

            <div class="user-form-field">
                <p>{{ form.password2.label }}</p>
                {{ form.password2 }}
            </div>

            <div class="user-form-field">
                <input class="user-login-btn" type="submit">
            </div>
        
        </form>
    </div>
</div>

{% endblock content %}


















<!-- Irrelevant blocks -->
{% block searchFORM %}
{% endblock searchFORM %}
{% block pagination %}
{% endblock pagination %}



