{% extends 'base.html' %}



{% block content %}
    <div class="view-service-container">

        <div class="view-service-title">
            <h1>More details</h1>
            <a href="/">Back</a>
        </div>
        
        <div class="view-service">
    
            <h1 id="view-service-content">{{ services.service_name }}</h1>
            <address id="view-service-content">{{ services.location }}</address>
            <p id="view-service-content">{{ services.experience }}</p>
            <p id="view-service-content"><strong>Call:</strong> {{ services.phone }}</p>
            <p id="view-service-content"><strong>Email:</strong> {{ services.email }}</p>
            <address id="view-service-content"><strong>Date posted: </strong>{{ services.datecreated }}</address>
            <p id="view-service-content">Author: {{ services.author.id }}</p>

            {% if user.is_authenticated and services.author.id == user.id %}
            <div class="view-service-btns">
                <a id="view-service-content" href="/update/{{ services.id }}">Update</a>
                <a id="view-service-content" href="/delete/{{ services.id }}">Delete</a>
            </div>
            {% endif %}

        </div>
    </div>
{% endblock content %}
    

















<!-- Irrelevant blocks -->
{% block searchFORM %}
{% endblock searchFORM %}
{% block pagination %}
{% endblock pagination %}
